/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap');

html,
body {
  height: 100vh;
  width: 100%;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

/* HEADER */
#header {
  background-color: #f9f9f4;
  border-bottom: 0.0625rem solid #e3e5e8;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 0.5rem;
}

#top-spacer {
  background-image: linear-gradient(180deg, white, transparent);
  height: 2rem;
  left: 0;
  position: fixed;
  top: 2.613rem;
  width: 100%;
  z-index: 10;
}

/* CONTENT */
#content {
  box-sizing: border-box;
  margin-top: 3.613rem;
  z-index: 1;
}

.messages {
  padding-bottom: 3.875rem;
}

.question,
.answer > .message {
  border-radius: 0.5rem;
  padding: 1rem;
  max-width: 75%;
  margin-bottom: 1rem;
}

.question {
  background-color: #e7700d;
  color: white;
}

.answer {
  justify-content: end;
}

.answer > .message {
  background-color: #f1f2f3;
  color: black;
  margin-right: 0.5rem;
}

.message p {
  line-height: 1.5;
  margin-bottom: 0;
}

.avatar {
  height: 3rem;
  width: 3rem;
  padding: 0.5rem;
}

/* FOOTER */
#bottom-spacer {
  background-image: linear-gradient(180deg, transparent, white);
  height: 2rem;
  left: 0;
  position: fixed;
  bottom: 3.875rem;
  width: 100%;
  z-index: 10;
}

#footer {
  background-color: white;
  bottom: 0;
  left: 0;
  padding: 0.75rem 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}

#message {
  margin-right: 0.75rem;
  width: calc(100% - 0.75rem);
}