@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@300..700&display=swap');

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100vh;
}

html {
  font-size: 62.5%;
}

body {
  font: normal 400 1rem/1 'Red Hat Text', sans-serif;
  font-optical-sizing: auto;
}

/* HEADER */
header {
  background-color: #005172;
  color: white;
  left: 0;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
}

header p {
  font-size: 1.4rem;
  margin-top: 0.5rem;
  text-transform: uppercase;
}

h1 {
  font-size: 3.2rem;
  font-weight: 700;
}

h1 abbr {
  text-decoration: none;
}

h1 abbr[title] {
  cursor: help;
}

/* MAIN */
main {
  margin-top: 7.1rem;
}
