@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300..700&family=Red+Hat+Text:wght@300..700&display=swap');

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100vh;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font: normal 400 1rem/1 'Red Hat Text', sans-serif;
  font-optical-sizing: auto;
}

/* HEADER */
header {
  background-color: #005172;
  color: white;
  left: 0;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

header p {
  font-size: 1.4rem;
  margin-top: 0.5rem;
  text-transform: uppercase;
}

h1 {
  font-size: 3.2rem;
  font-weight: 700;
}

h1 abbr {
  text-decoration: none;
}

h1 abbr[title] {
  cursor: help;
}

.blur {
  background: linear-gradient(rgba(255, 255, 255, 0.75), transparent);
  height: 1.5rem;
  left: 0;
  position: fixed;
  top: 7.1rem;
  width: 100%;
  z-index: 1;
}

/* CONTENTS */
#content {
  bottom: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 7.1rem 0 5.2rem 0;
  position: relative;
  width: 100%;
  z-index: 0;
}

#content div {
  margin-top: auto;
  padding: 1rem;
}

#content p {
  font-size: 1.6rem;
  min-height: 3.2rem;
  line-height: 1.5;
}

#content code, #content pre {
  font-family: 'Red Hat Mono', monospace;
}

#content a {
  color: #0080a3;
}

#content a:active, #content a:focus, #content a:hover {
  text-decoration: none;
}

.user, .assistant {
  max-width: 75%;
}

.user {
  align-self: flex-start;
}

.user .content, .assistant .content {
  border-radius: 0.5rem;
  padding: 1rem;
}

.user .content {
  background-color: #d7f2cf;
  color: #357821;
}

.assistant {
  align-self: flex-end;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin: 0;
}

.assistant .content {
  background-color: #f8f8f8;
  border: 0.1rem solid #ccc;
  color: #222;
}

.avatar {
  height: 6.8rem;
  margin: auto 0;
  width: 6.8rem;
}

.avatar img {
  height: 4.8rem;
  width: 4.8rem;
}

.blur-inverted {
  background: linear-gradient(transparent, rgba(255, 255, 255, 0.75));
  height: 1.5rem;
  left: 0;
  position: fixed;
  bottom: 5.2rem;
  width: 100%;
  z-index: 1;
}

/* FOOTER */
footer {
  background-color: #0080a3;
  bottom: 0;
  left: 0;
  padding: 1rem;
  position: fixed;
  width: 100%;
  z-index: 1;
}

fieldset {
  border: none;
  display: flex;
  gap: 1rem;
  width: 100%;
}

label {
  width: 100%;
}

input, button {
  appearance: none;
  border: none;
  font-family: inherit;
  font-size: 1.6rem;
  height: 3.2rem;
  line-height: 1.5;
  outline: none;
}

input {
  background-color: white;
  padding: 0 1rem;
  width: 100%;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.25);
  text-transform: lowercase;
}

button {
  background-color: #69be28;
  border: none;
  border-radius: 0.5rem;
  color: black;
  cursor: pointer;
  font-weight: 700;
  padding: 0 2rem;
  text-transform: uppercase;
  transition: all 0.5s linear;
}

button:active, button:focus, button:hover {
  background-color: #357821;
  color: white;
}

.sr-only {
  position: absolute;
  left: -1000rem;
  width: 0.1rem;
  height: 0.1rem;
  top: auto;
  overflow: hidden;
}
