<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chatbot UI</title>
    <link rel="stylesheet" href=".{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <header>
      <h1>Chatbot <abbr title="User Interface">UI</abbr></h1>
      <p>Final Project by Federico Moretti</p>
    </header>
    <main>
      {% for item in history %}
        {% if item.role != 'system' %}
          <div class="{{ item.role }}">
            <div class="">
              <p>{{ item.content }}</p>
            </div>
            {% if item.role == 'assistant' %}
            <div class="avatar">
              <img alt="" src="">
            </div>
          {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    </main>
    <footer>
      <form action="/" method="post" novalidate>
        <fieldset>
          <legend class="sr-only">Send a message to ChatGPT</legend>
          <label for="message"><span class="sr-only">Message:</span> <input name="message" placeholder="Enter your message …" type="text" autocomplete="off" autofocus required></label>
          <button type="submit">Send</button>
        </fieldset>
      </form>
    </footer>
  </body>
</html>
