{% block content %}
  <!-- CONTENT -->
  <main id="content">
    {% for completion in completions %}
      {% if completion.role != 'system' %}
        <div class="{{ completion.role }}">
          <div class="content">
            {% if completion.role == 'user' %}
              <p>{{ completion.content }}</p>
            {% else %}
              {{ completion.content | safe }}
            {% endif %}
          </div>
          {% if completion.role == 'assistant' %}
          <div class="avatar">
            <img alt="Logo of OpenAI" src=".{{ url_for('static', filename='img/openai.svg') }}" width="48" height="48">
          </div>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  </main>
{% endblock %}
